<header>
  <div class="top-page-header">
    <div class="title">
      <%= link_to "Thinking", "/", class:"top-title" %>
    </div>
    <ul class="navi">
    <% unless user_signed_in? %>
      <li><%= link_to  "<ゲストログイン>", users_guest_sign_in_path, method: :post, class:"guest"%></li>
      <li><%= link_to "新規登録", new_user_registration_path, class:"sign-up" %></li>
      <li><%= link_to "ログイン", new_user_session_path, class:"login" %></li>
    <% else %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"log-out" %>
    <% end %>
    </ul>
  </div>
</header>