<%= render "shared/header" %>
<div class="main">
  <div class="tool-bar">
    <div class="new-btn">
      <%= link_to new_fragment_path do %>
        <i class="fas fa-edit"></i> 〜新しい目標を立てよう〜
      <% end %>
    </div>
    <div class="nickname">
      <% if user_signed_in? %>
        <%= current_user.nickname %>
      <% end %>
    </div>
  </div>
  <div class="item-contents">
    <div id="item-title">投稿一覧</div>
    <ul class="think-list">
    <% @fragments.each do | fragment |%>
        <li class="list">
          <div class="list-up">
            <div class="list-a">Name:<%= fragment.user.nickname%></div>
            <div class="list-a">Category:<%= fragment.genre.name %></div>
            <div class="list-a-btn">
              <%= link_to fragment_path(fragment.id) do %>
                <i class="far fa-hand-point-right"></i> cheak!!
              <% end %>
            </div>
          </div>
          <div class="list-down">
            Title:<%= fragment.title %>
          </div>
        </li>
    <% end %>
    </ul>
  </div> 
</div>
