<%= render "shared/header" %>
<div class="main">
  <div class="tool-bar">
    <div class="user-nickname">
    <% if user_signed_in? %>
      <%= current_user.nickname %>
    <% end %>
    </div>
    <div class="new-btn">
      <%= link_to "新しい目標！！", new_fragment_path, class:"new-content" %>
    </div>
  </div>
  <div class="item-contents">
    <ul class="think-list">
      <% @fragments.each do | fragment |%>
        <li class="list">
          <%= link_to "#{fragment.title}", "#", class:"f-title" %>
          <%= fragment.genre.name %>
          <%= fragment.user.nickname%>
        </li>
      <% end %>
    </ul>
  </div> 
</div>
