<%= render "shared/header" %>
<div class="fragment-main">
  <div class="fragment-show-form">
    <div class="title-name">
      <div class="show-fragment"><%= @fragment.title %></div>
      <div class="like">
      <% unless Like.find_by(user_id: current_user.id, fragment_id: @fragment.id) %>
        <%= form_with model: @like, url: likes_path(@fragment.id), id: "like-create", remote: true do |f| %>
          <%= f.button type ="submit", id: "like-btn", style: 'border-style: none;' do %>
            <div id="icon-create"><i class="far fa-grin-wink"> good!!</i></div>
          <% end %>
          <div id="like-p"><p><%= "#{@like_count}" %>人</p></div>
        <% end %>
      <% else %>
        <%= form_with model: @like, url: like_path(@fragment.id, @like.ids), id: "like-delete", remote: true do |f| %>
          <%= f.button type ="submit", id: "like-btn", style: 'border-style: none;' do %>
            <div id="icon-change"><i class="far fa-grin-wink" >good!!消す</i></div>
          <% end %>
          <div id="like-p"><p><%= "#{@like_count}" %>人</p></div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="fragment-box">
      <div class="fragment-item">
        <ul>
          <div class="show-fragment"><%= @fragment.heading_a%></div>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_a_a%></div>
          </li>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_a_b%></div>
          </li>
        </ul>
      </div>
      <div class="fragment-item">
        <ul>
          <div class="show-fragment"><%= @fragment.heading_b%></div>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_b_a%></div>
          </li>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_b_b%></div>
          </li>
        </ul>
      </div>
      <div class="fragment-item">
        <ul>
          <div class="show-fragment"><%= @fragment.heading_c%></div>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_c_a%></div>
          </li>
          <li class="input-memo">
            <div class="show-fragment"><%= @fragment.heading_c_b%></div>
          </li>
        </ul>
      </div>
    </div>
    <% if @fragment.free_memo? %>
      <div class="under-space">
        <%= @fragment.free_memo %>
      </div>
    <% end %>
    <%= form_with model: @comment, url: comments_path(@fragment.id), class: "comment-form", remote: true do |f| %>
    <div class="comennt-left">
      <%= f.text_area :comment, class:"comment", id:"comment", placeholder:"コメントしよう!!", maxlength:"200" %>
    </div>
    <div class="comment-right">
      <%= f.submit "投稿", class:"comment-btn" %>
    </div>
    <% end %>
    <div id="comment-field">
    <% @comments.reverse_each do |comment| %>
      <p><%= comment.user.nickname %> : <%= comment.comment %>  <a><%= l comment.created_at %></a></p>
    <% end %>
  </div>
  </div>
</div>

